body {
  font: 400 15px Lato, sans-serif;
  text-shadow: 1px 2px #000000;
  line-height: 1.8;
  color: white;
  background-image: url("../images/background.jpg");
  background-size: auto;
}

a:link,
a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:active {
    color: #0080ff;
    background-color: transparent;
}
.inflate:hover {
  font-size: 120%;
}
.jumbotron a img:hover {
  webkit-box-shadow: 0px 0px 3px 5px #0080ff;
  -moz-box-shadow: 0px 0px 3px 5px #0080ff;
  box-shadow: 0px 0px 3px 5px #0080ff;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: white;
  font-weight: 400;
  margin-bottom: 15px;
}

iframe {
  width: 100%;
  height: 50em;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #0080ff;
}
pre {
  background-color: transparent;
}

.jumbotron {
  background: -webkit-linear-gradient(transparent, black, black, black, transparent);
  background: -o-linear-gradient(transparent, black, black, black, transparent);
  background: -moz-linear-gradient(transparent, black, black, black, transparent);
  background: linear-gradient(transparent, black, black, black, transparent);
  /*background-image: url("images/backgroud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  padding-top: 10%;
  color: #fff;
  /*padding: 100px 25px;*/
  padding-bottom: 0;
  font-family: Montserrat, sans-serif;
  /*padding-bottom: 100px;*/
}
.bg-grey {
  background: -webkit-linear-gradient(transparent, black, black, black, transparent);
  background: -o-linear-gradient(transparent, black, black, black, transparent);
  background: -moz-linear-gradient(transparent, black, black, black, transparent);
  background: linear-gradient(transparent, black, black, black, transparent);
}

.logo-small {
  color: #0080ff;
  font-size: 50px;
}

.logo {
  color: #0080ff;
  font-size: 200px;
}

.icon a img {
  width: 100px;
}
.repo .vg-container {
  max-width: 100%;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #0080ff;
}

.carousel-indicators li {
  border-color: #0080ff;
}

.carousel-indicators li.active {
  background-color: #0080ff;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid black;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid black;
  background-color: #fff !important;
  color: black;
}

.panel-heading {
  color: #fff !important;
  background-color: black !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #0080ff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: black;
  color: #fff;
}

.nav-tabs {
  margin-bottom: 0;
  background-color: black;
  z-index: 9999;
  font-size: 12px !important;
  text-shadow: none;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.nav-tabs li a {
  text-shadow: none;
  text-transform: uppercase;
}

.nav-tabs li a:hover,
.nav-tabs li.active a {
  color: white !important;
  background-color: #0080ff !important;
}

.navbar {
  margin-bottom: 0;
  background-color: black;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  text-shadow: none;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: white !important;
  background-color: #0080ff !important;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  border-color: transparent;
  color: #fff !important;
  background-color: transparent;
}

.navbar-default .navbar-toggle.collapsed {
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
  background-color: #0080ff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
