.center {
	margin-right: auto;
	margin-left: auto;
	margin-top:5%;
    width: 90%;
}
.myform {
	background-color:black;
	border-radius: 10px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:aqua;
	padding:1%;
	border-color: aqua;
	border-width: medium;
	font-size: 105%;
	max-width: 30%;
	margin: inherit;
}
.myform fieldset{
	max-width: inherit;
	border-radius: 10px;
	border-color: aqua;
	border-width: medium;
}
.myform ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.myform li{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: .5%;
}

.myform input, textarea, button, select, option {
	border-radius: 5px;
	border-width: medium;
	border-color: aqua;
	background-color: black;
	color:gray;
	font-family: inherit;
	padding: .25%;
	min-width: 17.5%;
	box-sizing:border-box;
	width:50%;
}
.asterisk {
	color:red;
	font-size: 150%;
	vertical-align: top;
}
body {
   background-image: url("background.jpg");
   background-size: cover;
	color: White;
}

input::-webkit-input-placeholder {
color: gray !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: gray !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: gray !important;  
}
 
input:-ms-input-placeholder {  
color: gray !important;  
}
